.login_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoText {
    margin: 0px;
    padding: 0px;
}
.fullname {
    font-size: 44px;
    margin: 0px;
}
.username {
    font-size: 14px;
    margin: 0px;
}