.groceryListItem {
    color: white;
    background-color: #7AB7C1 ;
    padding: 10px;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 8px;
}
.groceryListSub{
    font-size: 12px;
    font-weight: normal;
    padding-left: 5px;
}
.groceryListContainer {
    max-width: 500px;
    max-height: 500px;
    overflow: scroll;
    background-color: #C9F4FC;
    padding: 15px;
    padding-bottom: 80px;
    box-shadow: inset 0px 0px 10px 0px #2E423C;
    border-radius: 18px;
}
.grocerySearch {
    height: 380px;
}