.recipeListItem{
    margin: 5px;
    padding: 10px;
    color: white;
    background-color: #8DB580;
    font-weight: bold;
    border-radius: 3px;
}
.recipeContent{
    display: flex;
    flex-direction: row;
}